* {
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: ubuntu;
    width: 1400px;
    margin: 0;
    padding: 0;
}
.container {
    background-color: #000;
    height: 1000px;
    width: 100%;

}
.container .navbar ul {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.container ul li {
    display: block;
    margin: 23px 41px;
    padding: 3px 2px ;
    
}
.container ul li a {
    color: #fff;
    height: 19px;
    
}
.container img {
    display: block;
    margin: 20rem auto;
    
}
.zio-energy img {
    width: 100%;
    height: 100%;
}
.zio-vision {
    width: 100%;
    background-image: url(./img/Group\ Copythird3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}

.zio-vision img {
    position: absolute;
    display: block;
    margin: 20rem 60rem;
    
}
.zio-design {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    height: 100%;
    margin:0 auto;
    padding-left: 250px;
    background-image: url(./img/Group\ Copy\ 2phone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.zio-design img {
    width: 133px ;
    height: 146px;
    margin: 5rem 0;
}

.about-zio {
    text-align: center;
    margin: 2rem auto;
}
.similar-height {
    height: 607px;
}

.m-heading {
    font-family: fira sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    text-align: center ;
    
}
.about-zio p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    margin: 2rem auto;
    width: 743px;

}
#Contain {
    max-width: 1140px;
    margin: 3px auto;
    padding: 0.5rem;
}
.Form-wrap {
    background-color: white;

}
.Form-wrap h1, .Form-wrap p {
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;

}
.Form-wrap .form-input  {
    margin: 0.75rem;
    padding: 0.2rem;
    width: 100%;
}
.names-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fullWidth{
    width: 98%;
}

.rightMargin{
    margin-right: 2%;
}

.Form-wrap .form-input label {
    display: block;
    font-family: ubuntu;
    font-size: 24px;
}
.Form-wrap .form-input input {
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    width: 100%;
    padding: 1rem;
    background-color: #f8f8f8;
    font-size: 23px;
}
.Form-wrap .form-input textarea {
    width: 100%;
    padding: 1rem;
    background-color: #f8f8f8;
    font-size: 23px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}
.required:after {
    content: "*";
}

.btn {
    margin: 0.75rem 1rem;
}
button {
    width: 25%;
    padding: 1rem ;
    font-size:24px ;
    font-family: ubuntu;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}
.final-class {
    text-align: center;
}
.final-class ul {
    display: flex;
    justify-content: center;
}
.final-class ul li {
    margin: 2rem;
    list-style: none;
    font-family: open sans;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}
.final-class p{
    font-family: ubuntu;
    color: #9B9B9B;
}


    